@font-face {
  font-family: "Play-Regular";
  src: url("../src/assets/fonts/play/Play-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play-Regular", sans-serif;
}
